@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color: rgba(255, 66, 165, 1);
}
.primary-color{
    color: var(--primary-color);
    font-size: 45px;
    font-weight: 700;
}
.black-color{
    color: black;
    font-size: 40px;
    font-weight: 600;
}
.car-height{
    height: 60px;
    margin-top: 10px;
    list-style: none;
}
.car-height img{
    height: 100%;
    border-radius: 15px;
}
.flex-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.nav-step1{
    margin-right: 100px;
}
.ul-li-flex1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-li-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-li-flex>li{
    list-style: none;
    padding: 0 20px;
}
.li-div-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
a{
    text-decoration: none;
}
li>div{
    height: 20px;
    padding: 12px;
}
div>img{
    height: 100%;
}
.img-manus{
    height: 20px;
}
.img-height{
    height: 100%;
}
@media screen and (max-width:576px) {
    .flex-nav{
        flex-direction: column;
    }
    .ul-li-flex{
        flex-direction: column;
        margin-top: 16px;
    }
    .ul-li-flex1{
        margin: auto;
        padding-left: 85px;
    }
    .pad>li{
        padding-bottom: 1rem;
    }
}